@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: #131313;
}


/* Customizes the scrollbar track (background) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Customizes the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background-color: #B6174B; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
    border: 3px solid #91123C; /* Creates a border around the scrollbar thumb */
  }
  
  /* Customizes the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #91123C; /* Color of the scrollbar track */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */

  }
  
  /* Optional: Customizes the scrollbar corner */
  ::-webkit-scrollbar-corner {
    background-color: #91123C; /* Color of the corner where horizontal and vertical scrollbars meet */
  }
  